.main {
    background-image: linear-gradient(to right, hotpink, yellow);
}  
li{
    display:inline-block;
   
    margin-left:40px;
    size:60px;
}
.navbar{
    margin-left: 150px;
}
.phone{
    margin-left:200px;
}
img{
    heigh:20px;
    width:20px;
    margin-left: 40px;

}
.container {
  position: relative;
  width: 100%;
  height: 100vh; 
  background: url('img1.jpg') center/cover no-repeat;
}

.overlay {
  position: absolute;
  top: 50%;
  left: 40%;
  height:30%;
  width:40%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 105, 180, 0.8); 
}

.overlay  p{
  /* margin: 0; */
  font-size: 15px;
  color: #fff;
}

h1{
   text-align:center;
   color:white;
   margin:50px;
   font-size:50px;

}
.custom-div{
    display:inline-block;
    width: 300px;
    height: 400px;
    margin-left:10%;
    margin-bottom:5%;
    align-items: center;
    background-color: white;
    border-radius: 0 20% 0 20%;
}

.img1{
    width: 250px;
    height: 250px;
    margin-top:10%;
    margin-left:10%;
    border-radius: 0 20% 0 0;
}
h2, p{
  text-align:center;  
  margin:5px;
}
.custom-button {
    background-color: rgba(255, 255, 255, 0.5); /* Using rgba for transparency */
    border: none;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    margin-left:50%;
    padding:20px 50px  20px 50px;
 
  }

  .custom-button:hover {
    background-color: rgba(255, 255, 255, 0.7); 
  }
 

